# Database
sqlalchemy
psycopg2

# Scientific Python
numpy
matplotlib
astropy
astroquery
h5py

# Flask
flask
flask-sqlalchemy
flask-scss
flask-wtf
Flask-Script

# Forms
wtforms
wtforms-alchemy
wtforms-sqlalchemy