# Database
sqlalchemy
psycopg2

# Scientific Python
numpy
matplotlib
astropy
astroquery
h5py

# Flask
flask
flask-sqlalchemy
flask-scss
flask-wtf
Flask-Script
flask-shell-ipython

# Forms
wtforms
wtforms-alchemy
wtforms-sqlalchemy

# Other goodies
attrs
click

# Vizulaization
seaborn
WCSAxes