a {
    text-decoration: none
}
article {
    margin: 0 20px
}
#article {
}

#logbody {
    .frame-number {
        width: 10px;
    }
    .filled {
        background: #999;
    }
    table {
        border: 1;
        border-color: #fff;
    }
}
input[type=number]{
    width: 80px;
}

#name {
    
    text-decoration: underline;
    
    .telem {
        color: #66FFEF;
    }
    .py {
        color: white;
    }
}

.float-left {
    float: left;
}
.float-clear {
    clear: both;
}

div.flashes {
    background-color: #D88391;
    border-radius: 4px;
    padding: 4px;
}

#navigation-bar {
    
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 10px;
    
    div {
        padding: 20px 10px;
        float: left;
        display: inline-block;
        a, a:visited {
            color: white;
        }
    }
}

tbody tr th {
    text-align: right;
}

form input.rowspan-2 {
    height: 2.2em;
}