{% extends "index.html" %}
{% block title %}OSIRIS Data{% endblock title %}
{% block content %}
<div id="title">
  <h1>OSIRIS Data</h1>
</div>
<div data-collapse>
    <h2>Datasets</h2>
    <div id="datasets">
    </div>
    <h2>Observing Logs</h2>
    <div id="logs">
        {% include "logs/_logs.html" %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
    <script src="/static/js/targets.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.get("{{ url_for('.dataset_raw', page=1) }}", function(data){
                var target = $("div#datasets")
                target.html(data)
                target.find(".datatables").each(function(){
                    $(this).dataTable({
                        paging: false,
                        autoWidth: false,
                        info: false
                    })
                })
            })
        });
    </script>
{% endblock %}